:root {
  --gray-100: #171a1a;
  --gray-80: #303333;
  --gray-60: #494d4b;
  --gray-40: #b9bfbd;
  --gray-20: #edf2f0;
  --gray-00: #fcfffe;

  --MainGreenDark: #001f19;
  --MainGreenDefault: #1e5349;
  --MainGreenLight: #6be3cd;
  --MainGreenLighter: #d9fff5;

  --MainBlueDark: #1d5bbc;
  --MainBlueDefault: #468eff;
  --MainBlueLight: #abccff;
  --MainBlueLighter: #e2edff;

  --SecondaryPurpleDark: #9335cc;
  --SecondayPurpleDefault: #c15cff;
  --SecondayPurpleLight: #dea8ff;
  --SecondayPurpleLighter: #f9eeff;

  --SecondaryLightBlueDark: #19788f;
  --SecondayLightBlueDefault: #39d1e5;
  --SecondayLightBlueLight: #8cf2ff;
  --SecondayLightBlueLighter: #ccf9ff;

  --SecondaryOrangeDark: #ac5734;
  --SecondaryOrangeDefault: #e57b43;
  --SecondaryOrangeLight: #ffaa7d;
  --SecondaryOrangeLighter: #ffefe7;

  --ErrorMain: #c00808;
  --ErrorLight: #ffe5e5;
  --SuccessMain: #9335cc;
  --SuccessLight: #c15cff;
  --AlertMain: #9f760b;
  --AlertLight: #fff1cc;

  --Opacidad100: 1;
  --Opacidad80: 0.8;
  --Opacidad60: 0.6;
  --Opacidad40: 0.4;
  --Opacidad20: 0.2;
}
